.blg-Card {
  display: block;
  background-color: rgba(0,0,0,0.3);
  padding: 25px;
  border-radius: 5px;
  box-shadow: 10px 10px 20px rgba(0,0,0,0.5);
  width: 100%;
}

.blg-Card_Title {
  margin-bottom: 10px;
  color: #fff;
  text-decoration: none;
}

.blg-Card_Text {
  line-height: 28px;
  letter-spacing: .35px;

  a {
    color: white;
  }
}
