.hd-Header {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid lightgrey;
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.hd-Header_Inner {
  margin-left: 50px;
  margin-right: 50px;
}

.hd-Header_Items {
  display: flex;
  justify-content: space-between;
}

.hd-Header_Title {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}
