.sec-Section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.sec-Section_Inner {
  padding-left: 50px;
  padding-right: 50px;
}

.sec-Section_Header {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.sec-Section_Body {
  display: flex;
  justify-content: center;
}
